@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <h1>İş Başvurusu</h1>
    <div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label class="form-label" asp-for="Kisi.Ad"></label>
        <input asp-for="Kisi.Ad" class="form-control" />
        <span asp-validation-for="Kisi.Ad"></span>

        <label class="form-label" asp-for="Kisi.Soyad"></label>
        <input asp-for="Kisi.Soyad" class="form-control" />
        <span asp-validation-for="Kisi.Soyad"></span>
    </div>

    <label class="mb-3">Çalışmak istediğiniz şehirleri seçiniz:</label>
    <div style="height:150px; overflow-y:scroll" class="mb-3">
        @for (int i = 0; i < Model.sehirlerModel.Count; i++)
        {
            <div>
                <input type="hidden" asp-for="@Model.sehirlerModel[i].SehirId" />
                <input type="hidden" asp-for="@Model.sehirlerModel[i].SehirAd" />
                <label>
                <input type="checkbox" asp-for="@Model.sehirlerModel[i].SeciliMi" />
                    @Model.sehirlerModel[i].SehirAd
                </label>
            </div>
        }
    </div>
    <button class="btn btn-primary">GÖNDER</button>
</form>